<p class="pb-2">
  Hi <%= first_name @order.name %>,
</p>

<p class="pb-2">
  You can find your Balkan Ruby invoice in Bulgarian (in BGN) and English (in EUR) attached to this email.
</p>

<p class="pb-2">
  If you have any questions about the invoice, or the event, feel free to reply to this email.
</p>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
