<% title "Slides" %>

<% if @slideshow %>
  <% render_slideshow(@slideshow, day: params[:day].to_i).each do |slide| %>
    <section class="center">
      <%== slide %>
    </section>
  <% end %>
<% end %>
