<p class="pb-2">
  If you don't want to receive more emails from us, you can
  <%= link_to "unsubscribe", @subscriber.cancel_url, class: "link-primary" %> at any time.
</p>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
