<p class="pb-2">
  Hey there,
</p>

<p class="pb-2">
  I'm Genadi and I'm happy to welcome you to the <b><%= @subscriber.event.name %></b> newsletter!
  We will keep you up to date with the latest news about the conference.
</p>

<%= render "closer" %>
