<div class="md-prose">
  <%= render_markdown @body %>
</div>

<% if @recipient.subscriber %>
  <hr />

  <p>
    If you don't want to receive more emails from us, you can
    <%= link_to "unsubscribe", @recipient.subscriber.cancel_url, class: "link-primary" %> at any time.
  </p>
<% end %>
