<div class="w-prose">
  <p>
    A new order by <%= link_to @order.name, admin_order_url(@order), class: "link-primary" %>
    for <b><%= format_money @order.amount %></b> has been placed.
  </p>
</div>
