<%# locals: (invoice:) %>

<div class="inline-block min-w-full align-middle">
  <%= render "document_preview", urls: [
    admin_invoice_path(invoice, format: :pdf, locale: :en),
    admin_invoice_path(invoice, format: :pdf, locale: :bg),
  ] %>
</div>
