<%# locals: (highlight: false) %>

<%= render "section", title: "Community partners", highlight: do %>
  <div class="grid grid-cols-2 gap-4 sm:gap-6 lg:grid-cols-3">
    <% Current.event.community_partners.with_attached_logo.each do |partner| %>
      <%= link_to partner.url, title: partner.name, class: "flex justify-center w-full h-16 p-2 bg-white border-2 border-black rounded-md transition ease-in-out hover:shadow-brutal hover:-translate-x-1 hover:-translate-y-1" do %>
        <%= image_tag try_variant(partner.logo, resize_to_limit: [500, 500]),
          class: "w-auto h-full object-contain",
          alt: partner.name,
          lazy: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
