<%= render "section", title: "Community partners", title_element: "h2" do %>
  <div class="prose-xl max-w-prose prose-invert">
    <p>
      It's a renaissance for Ruby events! If you like Balkan Ruby, check out our friends:
    </p>
  </div>

  <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
    <% @event.community_partners.each do |partner| %>
      <%= link_to partner.url, class: "flex justify-center w-full h-16 p-2 bg-white rounded-md" do %>
        <%= image_tag partner.logo, class: "w-auto h-full object-contain", alt: partner.name, lazy: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
