<%= render "section", title: "Community partners", title_element: "h2" do %>
  <div class="prose-xl max-w-prose prose-invert">
    <p>
      It's a renaissance for Ruby events! If you like Balkan Ruby, check out our friends:
    </p>
  </div>

  <div class="flex flex-wrap gap-8">
    <%= link_to "https://www.rubycommunityconference.com" do %>
      <%= image_tag "community/rubycommunityconference.png",
        class: "bg-white border-2 border-white rounded-md shrink-0 h-16 p-2 object-cover",
        lazy: true %>
    <% end %>
  </div>
<% end %>
