<div class="shrink flex flex-col justify-center p-4 gap-8 bg-banitsa-200 border-2 border-black rounded-lg w-full md:w-fit sm:p-8">
  <div class="mx-auto">
    <p class="text-2xl text-black font-bold text-nowrap text-center truncate">Speaker applications close in:</h2>
  </div>

  <div class="mx-auto flex justify-center gap-8 w-fit">
    <% Current.event.speaker_applications_countdown.counters.each do |unit, value| %>
      <div class="flex flex-col gap-y-4 w-28 sm:w-36">
        <dt class="text-lg text-center font-semibold"><%= unit %></dt>
        <dd class="order-first p-2 bg-black text-7xl text-white text-center font-semibold rounded-md sm:text-8xl">
          <%= format "%02d", value %>
        </dd>
      </div>
    <% end %>
  </div>

  <div class="mx-auto" data-controller="hero">
    <button data-action="hero#scrollToSpeakers" class="btn-secondary w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5" >
        <path d="M7 4a3 3 0 016 0v6a3 3 0 11-6 0V4z"/>
        <path
          d="M5.5 9.643a.75.75 0 00-1.5 0V10c0 3.06 2.29 5.585 5.25 5.954V17.5h-1.5a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-1.5v-1.546A6.001 6.001 0 0016 10v-.357a.75.75 0 00-1.5 0V10a4.5 4.5 0 01-9 0v-.357z"
        />
      </svg>
      <span>Speak at <%= Current.event.name %></span>
    </button>
  </div>
</div>
