<div class="shrink flex flex-col justify-center p-8 gap-8 border-2 border-black rounded-lg w-full sm:p-0 sm:w-fit sm:border-0">
  <div class="mx-auto">
    <p class="text-xl text-black font-bold text-nowrap text-center">Join us in:</h2>
  </div>

  <div class="mx-auto flex justify-center gap-8 w-fit">
    <% Current.event.beginning_countdown.counters.each do |unit, value| %>
      <div class="flex flex-col gap-y-4 w-36">
        <dt class="text-lg text-center font-semibold text-gray-500"><%= unit %></dt>
        <dd class="order-first bg-white text-8xl p-2 text-black text-center font-semibold rounded-md">
          <%= format "%02d", value %>
        </dd>
      </div>
    <% end %>
  </div>

  <div class="mx-auto" data-controller="hero">
    <button data-action="hero#scrollToTickets" class="btn-primary w-fit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        class="w-5 h-5 text-current"
      >
        <g color="currentColor" weight="regular">
        <path
          d="M24,167.2a7.9,7.9,0,0,1,6.4-7.8,32.1,32.1,0,0,0,0-62.8A7.9,7.9,0,0,1,24,88.8V64a8,8,0,0,1,8-8H224a8,8,0,0,1,8,8V88.8a7.9,7.9,0,0,1-6.4,7.8,32.1,32.1,0,0,0,0,62.8,7.9,7.9,0,0,1,6.4,7.8V192a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8Z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"
          ></path>
        </g>
      </svg>
      <span>Buy a ticket</span>
    </button>
  </div>
</div>
