<%= render "section", title: "2024", title_element: "h2" do %>
  <%= render "prose" do %>
    <p>
      Balkan Ruby 2024 was <%= link_to "Back to Business", retro2024_path, class: "link-primary" %>
      five years after our last event in 2019. We had a great time and we hope you did too.
      Watch the <%= link_to "2024 talks online", "https://youtube.com/playlist?list=PLAkGYJoUfB0s1x8AcxBlnpnKFOPblEkRa&si=7MKLsbif8XbGvAB2", class: "link-primary" %>.
    </p>
  <% end %>
<% end %>
