<%= render "section", title: "2024", title_element: "h2" do %>
  <%= render "prose" do %>
    <p>
      Balkan Ruby 2024 took place on April 26-27, 2024 in Sofia, Bulgaria, five
      years after our last event in 2019. We had a great time and we hope you did
      too. Here is an overview of <%= link_to "2024", retro2024_path, class: "link-primary" %>.
    </p>
  <% end %>
<% end %>
