<%= render "section", title: "Tickets", title_element: "h2" do %>
  <div class="flex flex-col sm:flex-row gap-8">
    <% @ticket_types.each do |ticket| %>
      <%= render "ticket", ticket: %>
    <% end %>
  </div>

  <p class="text-xl py-3">
    Early Bird tickets are available until 31st of December 2023. Get yours now!
  </p>
<% end %>
