<%
  tickets = [
    OpenStruct.new(type: "Early Bird", price: "€150", enabled: true),
    OpenStruct.new(type: "Regular", price: "€200", enabled: false),
  ]
%>

<%= render "section", title: "Tickets", title_element: "h2" do %>
  <div class="flex flex-col md:flex-row gap-8">
    <% tickets.each do |ticket| %>
      <%= render "ticket", ticket: %>
    <% end %>
  </div>

  <p class="text-xl py-3">
    Early Bird tickets are available until 31st of December 2023. Get yours now!
  </p>
<% end %>
