<%
  nav_links = [
    { name: "Dashboard", path: admin_root_path },
    { name: "Website", path: root_path },
  ]
%>

<nav data-controller="navigation" class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <%= image_tag "logo-black.svg", class: "block h-8 w-auto lg:hidden", alt: "Balkan Ruby logo" %>
          <%= image_tag "logo-black.svg", class: "hidden h-8 w-auto lg:block", alt: "Balkan Ruby logo" %>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <% nav_links.each do |link| %>
            <%= link_to link[:name], link[:path],
              data_turbo_disable: true,
              class: [
                "text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium",
                current_page?(link[:path]) ? "border-banitsa-500" : "border-transparent",
              ] %>
          <% end %>
        </div>
      </div>
      <div class="-mr-2 flex items-center sm:hidden">
        <button
          type="button"
          data-action="navigation#toggleOpen"
          class="
            relative
            inline-flex
            items-center
            justify-center
            rounded-md
            bg-white
            p-2
            text-gray-400
            hover:bg-gray-100
            hover:text-gray-500
            focus:outline-none
            focus:ring-2
            focus:ring-banitsa-500
            focus:ring-offset-2
          "
        >
          <span class="absolute -inset-0.5"></span>
          <svg
            data-navigation-target="openIcon"
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg
            data-navigation-target="closeIcon"
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="sm:hidden" data-navigation-target="menu">
    <div class="space-y-1 pb-3 pt-2 w-full">
      <% nav_links.each do |link| %>
        <%= link_to link[:name], link[:path],
          class: [
            "block border-l-4 py-2 pl-3 pr-4 text-base font-medium",
            if current_page?(link[:path])
              "border-banitsa-500 bg-banitsa-50 text-banitsa-700"
            else
              "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800"
            end
          ] %>
      <% end %>
    </div>
  </div>
</nav>
