<%# locals: (title:, description: "", cta: nil) %>

<div class="border-t-gray-200 dark:border-t-gray-700 border-t pt-12 first:border-t-0 first:pt-0">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-lg font-semibold leading-6 text-gray-900 dark:text-gray-100"><%= title %></h1>
      <p class="mt-2 text-sm text-gray-700 dark:text-gray-300"><%= description %></p>
    </div>
    <% if cta %>
      <div class="mt-4 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
        <%= cta.() %>
      </div>
    <% end %>
  </div>
  <div class="mt-8 flow-root">
    <div class="overflow-x-auto space-y-8">
      <%= yield %>
    </div>
  </div>
</div>
