<%# locals: (objects:, table_def:) %>

<div class="inline-block min-w-full py-2 align-middle">
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <% table_def.columns.each do |column| %>
          <th scope="col" class="p-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">
            <%= column.header %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <% objects.each do |object| %>
        <tr class="border-t border-gray-300 hover:bg-gray-50">
          <% table_def.columns.each do |column| %>
            <td class="p-3 text-sm font-semibold text-gray-900 whitespace-nowrap">
              <%= column.value object %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

