<%= render "section", title: "Sponsors", title_element: "h1" do %>
  <div class="prose prose-xl prose-invert text-white">
    <p>
      By sponsoring Balkan Ruby, you are helping us make a great event, while
      promoting your brand to the passionate Ruby developers in Bulgaria, the
      Balkans and beyond! Check out our sponsorship packages below.
    </p>

    <h2>Regular Sponsorship (€3000)</h2>
    <ul>
      <li>3 free tickets</li>
      <li>Table at the conference</li>
      <li>Banner at the event</li>
      <li>Logo on the website</li>
      <li>Brand promotion on social media</li>
      <li>Mentions from the stage</li>
    </ul>

    <h2>Video Sponsorship (€3000)</h2>
      <ul>
        <li>Your logo on the video recordings</li>
      </ul>

    <h2>T-shirt Sponsorship (€3000, limited)</h2>
    <ul>
      <li>Your logo on our t-shirts</li>
    </ul>

    <p>
      Video and T-shirt sponsorships do not include the Regular sponsorship
      benefits. We can place only 1 logo on the t-shirt.
    </p>
  </div>

  <%= primary_button sponsors_path do %>
    Contact us
  <% end %>
<% end %>
