<div class="w-prose">
  <p class="pb-2">
    Hey there,
  </p>

  <p class="pb-2">
    You are receiving this email because you bought a ticket for <b>Balkan Ruby</b>.
    I'm Genadi, the organizer, and I hope you're doing well.
  </p>

  <p class="pb-2">
    In our last email, we asked you for feedback about the conference. We are
    thankful to those who took the time to respond. We are thankful to the 12
    of you who responded, and as promised, we are giving away a free ticket!
  </p>

  <p class="pb-2">
    The winner is <%= link_to "Evgeni Dzhelyov", "https://github.com/edzhelyov", class: "link-primary" %>!
    If you see him at the event next year, give him a shout-out. 🙌 For the
    rest of the responders, we have a small gift for you as well, check your emails.
  </p>

  <p class="pb-2">
    We are still editing the videos from Balkan Ruby 2024. While you wait,
    check out the photos from
    <%= link_to "Puzl", "https://photos.app.goo.gl/kvQtzSvo52rDXFKh8", class: "link-primary" %> and
    <%= link_to "Dana Tileva", "https://photos.app.goo.gl/sPDE7JdFYPamey6m7", class: "link-primary" %>.
    I do miss the event already...
  </p>

  <p class="pb-2">
    But cheer up the next Balkan Ruby is scheduled for 25–26 April 2025 in Sofia, Bulgaria!
    <%= link_to "Tickets", root_url, class: "link-primary" %> are already on sale.
  </p>

  <p class="pb-2">
    Best regards,<br>
    Genadi Samokovarov
  </p>
</div>
