<p class="pb-2">
  Hi <%= first_name @ticket.name %>,
</p>

<%= render "ticket_info", ticket: @ticket, ticket_png: @ticket_png %>

<p class="pb-2">
  We'll use your email to communicate with you about the event. If you have any
  questions you can reply to this email.
</p>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
