<p class="pb-2">
  Hi <%= first_name @ticket.name %>,
</p>

<%= render "ticket_info", ticket: @ticket, ticket_png: @ticket_png %>

<%= render "get_in_touch" %>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
