<div class="w-prose">
  <p class="pb-2">
    Hi <%= first_name @ticket.name %>,
  </p>

  <p class="pb-2">
    I'm Genadi and I'm happy to welcome you to <b><%= @ticket.event.name %></b>!
  </p>

  <%= render "ticket_info", ticket: @ticket, ticket_png: @ticket_png %>

  <%= render "get_in_touch" %>

  <p class="pb-2">
    Best regards,<br>
    Genadi Samokovarov
  </p>
</div>
