<p class="pb-2">
  Hi <%= @ticket.name %>,
</p>

<p class="pb-2">
  I'm Genadi, and I'm happy to welcome you to <b>Balkan Ruby</b>!
  Mark the dates <time datetime="2024-04-26"><b>April 26–27, 2024</b></time> in your
  calendars and get ready for a trip to Sofia, Bulgaria. 🇧🇬
</p>

<p class="pb-2">
  You can access your ticket at: <br>

  <a href="<%= @ticket.lts_url %>"><%= @ticket.lts_url %></a>
</p>

<p class="pb-2">
  We'll use your email to communicate with you about the event. If you have any
  questions, just reply to this email.
</p>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
