<%= render "section", title: "Tickets", title_element: "h2" do %>
  <p class="text-xl py-3">
    Early Bird tickets are available until we announce the speaker lineup.
    <%= link_to "Get yours now!", tickets_path, class: "link-primary" %>
  </p>

  <%= link_to tickets_path, class: "btn-primary" do %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 256 256"
      class="w-5 h-5 text-current"
    >
      <g color="currentColor" weight="regular">
      <path
        d="M24,167.2a7.9,7.9,0,0,1,6.4-7.8,32.1,32.1,0,0,0,0-62.8A7.9,7.9,0,0,1,24,88.8V64a8,8,0,0,1,8-8H224a8,8,0,0,1,8,8V88.8a7.9,7.9,0,0,1-6.4,7.8,32.1,32.1,0,0,0,0,62.8,7.9,7.9,0,0,1,6.4,7.8V192a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8Z"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
        ></path>
      </g>
    </svg>
    <span>Buy a ticket</span>
  <% end %>
<% end %>
