<div data-ticket-target="template" class="border-2 border-white rounded-md flex flex-col gap-6 p-4 w-64">
  <label class="flex flex-col items-baseline gap-3">
    <span class="text-xl w-50">Ticket name</span>
    <input
      name="tickets[][name]"
      type="text"
      required
      class="
        w-full
        border-2
        rounded-md
        border-neutral-600
        px-4
        py-2
        text-black
        focus:border-black
        focus:outline-white
      "
    />
  </label>
  <label class="flex flex-col items-baseline gap-3">
    <span class="text-xl w-50">T-shirt size</span>
    <select
      name="tickets[][name]"
      type="text"
      required
      class="
        w-full
        border-2
        rounded-md
        border-neutral-600
        px-4
        py-2
        text-black
        focus:border-black
        focus:outline-white
      "
    >
      <option value="xs">XS</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
      <option value="xxl">XXL</option>
    </select>
  </label>
</div>
