<div class="w-prose">
  <p class="pb-2">
    Hi <%= first_name @proposal.name %>,
  </p>

  <p class="pb-2">
    Great news! Your talk "<%= @proposal.title %>" has been selected for
    <%= @proposal.event.name %>. We loved your proposal and can't wait to
    have you on stage!
  </p>

  <p class="pb-2">
    I'll follow up soon with more details about the schedule, travel, and
    logistics. In the meantime, please confirm that you're still available
    by replying to this email.
  </p>

  <p class="pb-2">
    Best regards,<br>
    Genadi Samokovarov
  </p>
</div>
