<div class="w-prose">
  <p class="pb-2">
    Hi <%= first_name @proposal.name %>,
  </p>

  <p class="pb-2">
    Thank you for submitting "<%= @proposal.title %>" to
    <%= @proposal.event.name %>. We received many great proposals this year
    and the selection was really tough.
  </p>

  <p class="pb-2">
    Your talk is currently on our waiting list. If a slot opens up, we'll
    reach out to you right away. We truly appreciate your interest and hope
    to see you at the conference either way!
  </p>

  <p class="pb-2">
    Best regards,<br>
    Genadi Samokovarov
  </p>
</div>
