<div class="w-prose">
  <p class="pb-2">
    Hello,
  </p>

  <p class="pb-2">
    Thank you for submitting to <%= @proposal.event.name %>! We had very
    limited slots for talks from our Call for Papers this year, and the
    selection was extremely difficult.
  </p>

  <p class="pb-2">
    Unfortunately, your talk has not been selected in our first round. It
    has been placed on the waiting list, and we will reach out to you if a
    spot opens up.
  </p>

  <p class="pb-2">
    We would still love to see you at the conference! Here is a discount
    code for 20% off your ticket: CFPLOVE.
  </p>

  <p class="pb-2">
    Thank you for your submission,<br>
    Genadi Samokovarov
  </p>
</div>
