<p class="pb-2">
  Hi <%= first_name @order.name %>,
</p>

<p class="pb-2">
  We have refunded your <%= @order.event.name %> order. You should receive the funds within a few business days.
</p>

<% if @credit_note %>
  <p class="pb-2">
    You can find your credit note in Bulgarian (in BGN) and English (in EUR) attached to this email.
  </p>
<% end %>

<p class="pb-2">
  If you have any questions, feel free to reply to this email.
</p>

<p class="pb-2">
  Best regards,<br>
  Genadi Samokovarov
</p>
