<% title "Speak at #{Current.event.name}" %>

<%= render "section", title: "Speak at #{Current.event.name}", title_element: "h1" do %>
  <%= turbo_frame_tag "proposal" do %>
    <%= render "prose", class: "my-10" do %>
      <p>
        <% if @proposal.errors.any? %>
          Something went wrong. Please try again.
        <% else %>
          Thank you for your proposal! We'll review it and get back to you at
          <span class="text-banitsa-600"><%= @proposal.email %></span>.
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
