<div class="w-prose">
  <p class="pb-2">
    Hello <%= @speaker.name %>,
  </p>

  <p class="pb-2">
    Unfortunately, your submission "<%= @speaker.talk %>" has not been selected
    in our first round of lineup selection for Balkan Ruby 2024. It has been
    placed on the waiting list, and we may reach out to you if a currently
    selected talk drops out.
  </p>

  <p class="pb-2">
    We had very limited slots for talks from our Call for Papers this year, and
    the business theme for the event made the selection extremely difficult.
  </p>

  <p class="pb-2">
    We still hope to see you in Sofia on April 26–27! To thank you for your
    application, we would like to offer a discount code for 20% off a ticket
    purchase: CFPLOVE.
  </p>

  <p class="pb-2">
    Thank you again,<br>
    Genadi Samokovarov
  </p>
</div>
