<% title "Thank you" %>

<%= render "section", title: "Thank you", title_element: "h1", highlight: true do %>
  <%= render "prose" do %>
    <p>
      Thank you for the purchase! You will receive an email with your
      ticket in a bit. If you have any questions, feel free to
      <%= link_to "contact us", "mailto://hi@balkanruby.com", class: "link-primary" %>.
    </p>
  <% end %>
<% end %>
