<%# locals: (variant: "xl", class: "text-black") %>

<%
  variant_class = {
    "xl" => "prose-xl",
    "lg" => "prose-lg",
    "md" => "prose",
    "sm" => "prose-sm",
  }.with_indifferent_access.fetch(variant) do
    precondition_failure "Invalid variant: #{variant}"
  end
%>

<div class="<%= variant_class %> w-full max-w-prose overflow-hidden <%= binding.local_variable_get :class %>">
  <%= yield %>
</div>
