<details class="group mb-4 border-b-2 border-neutral-600 pb-4 marker:content-[''] last:pb-0 last:mb-0 last:border-0">
  <summary class="flex w-full cursor-pointer select-none justify-between items-center text-left text-xl font-semibold group-open:mb-2 group-open:text-banitsa-500 group-hover:text-banitsa-500 [&::-webkit-details-marker]:hidden">
    <%= local_assigns.fetch :title %>
    <svg
      class="h-6 w-6 flex-shrink-0 stroke-white group-open:stroke-banitsa-600 group-hover:stroke-banitsa-600"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M18 12H6"></path>
      <path class="group-open:hidden" d="M12 6v12"></path>
    </svg>
  </summary>
  <div class="mt-2 space-y-4 text-base"><%= yield %></div>
</details>
