<%
  title = local_assigns[:title]
  title_element = local_assigns[:title_element] || "h2"
  title_class = local_assigns[:title_class]
 %>

<section class="py-16 space-y-10">
  <% if title %>
    <%= tag.public_send title_element, id: title.downcase, class: ["text-3xl sm:text-4xl font-extrabold", title_class] do %>
      <%= title %>
    <% end %>
  <% end %>

  <%= yield %>
</section>
