<div class="p-2 sm:p-3 bg-black border-2 border-white rounded-md">
  <div class="border-2 border-white rounded-sm overflow-hidden">
    <%= render "speakers/avatar", speaker: speaker %>
  </div>
  <div class="mt-4 text-center">
    <h2 class="sm:text-lg font-medium leading-none">
      <%= speaker.name %>
    </h2>
  </div>
</div>
